body {
  background-color: #000;
  font-family: "Roboto";
}
.flex__page {
  display: flex;
  justify-content: center;
}

.header__container {
  top: 0;
}
.header__menu-wrapper {
  padding-top: 15px;
}
.logo {
  fill: white;
  width: 35px;
  height: 35px;
  margin-left: 5px;
}
.logo:hover {
  border-radius: 50%;

  background-color: goldenrod;
  fill: #000;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin-right: 40px;
  margin-top: 30px;
}
.menu__item {
  margin-bottom: 20px;
}
.menu__item-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 15px;
}
.menu__item-link:hover {
  background-color: goldenrod;
  border-radius: 50px;
  color: #000;
}

.main-page {
  width: 600px;
  height: 100%;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  /* padding-top: 20px; */
}

.main__title {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  margin-left: 15px;
  padding-top: 20px;
}

.footer-page {
  margin-top: 5px;
  margin-left: 20px;
  height: 100%;
}

.footer__header-wrapper {
  position: fixed;
}
.footer__input {
  overflow: hidden;
  outline-style: none;
  border-radius: 20px;
  border: none;
  background-color: #202328;
  padding: 13px 50px;
  color: #fff;
}

.footer__input::placeholder {
  font-weight: 400;
}

.search-icon {
  position: absolute;
  fill: #fff;
  width: 23px;
  height: 23px;
  left: 15px;
  top: 10px;
}

.content__container {
  background-color: #202328;
  margin: 0 auto;
  border: 1px solid grey;
}
.user__name {
  color: #fff;
  margin: 0;
  margin-top: 5px;
  margin-left: 15px;
}

.user__email {
  color: #fff;
  font-size: 13px;
  margin: 0;
  margin-left: 15px;
  font-weight: 100;
}

.post__title {
  color: #fff;
}
